fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9
onnxruntime==1.18.0
tensorflow==2.15.0
librosa==0.10.2
noisereduce==3.0.2
numpy==1.26.4
soundfile==0.12.1
pydantic==2.9.2
imageio-ffmpeg==0.5.1